@model RegisterUserViewModel
@{
    Layout = null;
    ViewData["Title"] = "SignUp";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/favicon/favicon-16x16.png" type="image/gif" sizes="16x16">
    <title>@ViewData["Title"]</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="~/css/signup.css" />

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style="height: 100%;">
    <div class="container-fluid d-flex h-100 flex-column">
        <div class="row flex-grow-1">
            <div class="col-6 bg-dark">
                <div>
                    <img class="" style="position: fixed;
                                         top: 50%;
                                         left: 25%;
                                         transform: translate(-50%, -50%);"
                         src="~/images/MTR_LOGO_ON_DARK.png" />
                </div>
            </div>

            <div class="col-6" style="margin: auto;">
                <h1 class="text-center">Create an Account</h1>
                <form class="sr" method="post">
                    <div class="form-group">
                        <label class="text-center" asp-for="UserName">Username:</label>
                        <input class="form-control" asp-for="UserName" placeholder="Enter username" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="" asp-for="Name">Name:</label>
                        <input class="form-control" asp-for="Name" placeholder="Enter name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="" asp-for="Email">Email:</label>
                        <input class="form-control" asp-for="Email" placeholder="Enter email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="" asp-for="Password">Password:</label>
                        <input class="form-control" asp-for="Password" type="password"
                               id="psw"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                               title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                               placeholder="Enter password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <input type="submit" class="btn btn-danger" value="Submit" />
                </form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="text-muted" id="message">
                    <h3>Password must contain at least:</h3>
                    <p id="letter" class="invalid">One <b>lowercase</b> letter</p>
                    <p id="capital" class="invalid">One <b>uppercase</b> letter</p>
                    <p id="number" class="invalid">One <b>number</b></p>
                    <p id="special" class="invalid">One <b>special</b> character(#!$&)</p>
                    <p id="length" class="invalid">Minimum of<b> 6 Characters</b></p>
                </div>
            </div>
        </div>
    </div>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/signup.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
