@model RegisterUserViewModel
@{
    Layout = null;
    ViewData["Title"] = "SignUp";
}

<html>
<head>
    <title>@ViewData["Title"]</title>

    <link href="~/css/signup.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body class="text-center">
    <h1 class="caa" style="padding-right: 90px;">Create an Account</h1>
    <div asp-validation-summary=" All" class="text-danger"></div>
    <br /><br />
    <div class="bg-light">
        <form class="sf" method="post">
            <div class="uep">
                <label class="form-control-sm" asp-for="Name">Username</label>
                <input class="form-control-sm" asp-for="Name" />
                <label class="form-control-sm" asp-for="Email">Email</label>
                <input class="form-control-sm" asp-for="Email" />
                <label class="form-control-sm" asp-for="Password">Password</label>
                <input class="form-control-sm" asp-for="Password" type="password" />
            </div>
            <input type="submit" class="btn btn-primary" value="Enter" />
        </form>
    </div>
</body>
</html>
