@model List<AppUser>
@{
    ViewData["Title"] = "Sales Board";
    Layout = "_AdminLayout";
}

<div class="text-center">
    <table class="table table-striped" style="width:100%">
        <tr class="thead-dark">
            <th>Name</th>
            <th>Today</th>
            <th>Last Week</th>
            <th>Last Two Weeks</th>
            <th>Last Three Weeks</th>
            <th>Last Four Weeks</th>
            <th>Month To Date</th>
            <th>Year To Date</th>
        </tr>
        @foreach (AppUser u in Model) {
            <tr>
                <partial name="_UserCalcsPartial" model=u />
            </tr>
        }
    </table>
    Current Month: @ViewBag.CurrentMonthAll
</div>
