@{
    ViewData["Title"] = "Enter Your Sale";
    Layout = "_AdminLayout";
}
<h1>@ViewData["Title"]</h1>

<div class="container justify-content-md-center">
    <form method="post">
        <div class="form-group">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control col-md-4" name="name" />
            </div>
            <div class="form-group">
                <label>Sale Amount</label>
                <input class="form-control col-md-4" name="salePrice" />
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
