@model SaleEntryViewModel
@{
    ViewData["Title"] = "Enter Your Sale";
}
<h1>@ViewData["Title"]</h1>

<div class="container justify-content-md-center">
    <div asp-validation-summary=" All" class="text-danger"></div>
    <form method="post">
        <div class="form-group">
            <div class="form-group">
                <label asp-for="SaleAmount">Sale Amount</label>
                <input class="form-control col-md-4" placeholder="Amount" asp-for="SaleAmount" />

                <input class="form-control col-md-4" name="name" asp-for="SaleAmount" value="@ViewBag.user" hidden />
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
