@model List<AppUser>
@{
    ViewData["Title"] = "Sales Board";
    Layout = "_AdminLayout";
}

<div class="text-center">
    <table class="table table-striped" style="width:100%">
        <tr class="thead-light">
            <th>Username</th>
            <th>Name</th>
        </tr>
        @foreach (AppUser u in Model)
        {
            <tr>
                <td><a asp-action="ViewSalesList" asp-route-title="@u.UserName">@u.UserName</a></td>
                <td>@u.Name</td>
            </tr>
        }
    </table>
</div>
