@model List<AppUser>
@{
    ViewData["Title"] = "Sales Board";
    Layout = "_AdminLayout";
}

<div class="text-center">
    <table class="table table-striped" style="width:100%">
        <tr class="thead-light">
            <th>Username</th>
            <th>Name</th>
        </tr>
        @foreach (AppUser u in Model)
        {
            <partial name="_ViewUsersPartial" model=u />
        }
    </table>
</div>
