<th scope="col">Name<span class="fa fa-home mr-1"></span></th>
<th scope="col">Today</th>
<th scope="col">Current Week</th>
<th scope="col">Last Week</th>
<th scope="col">Two Weeks Ago</th>
<th scope="col">Three Weeks Ago</th>
<th scope="col">Four Weeks Ago</th>
<th scope="col">Current Month</th>
<th scope="col">Year To Date</th>
