<th scope="col">Name</th>
<th scope="col">Today <a asp-controller="@ViewBag.Controller" asp-action="@ViewBag.Action" asp-route-title="Today"><span class="@((ViewBag.SortedBy == "Today") ? "fa fa-arrow-alt-circle-down" : "fa fa-arrow-alt-circle-up")"></span></a></th>
<th scope="col">Current Week <span class="fa fa-arrow-alt-circle-up"></span></th>
<th scope="col">Last Week <span class="fa fa-arrow-alt-circle-up"></span></th>
<th scope="col">Two Weeks Ago <span class="fa fa-arrow-alt-circle-up"></span></th>
<th scope="col">Three Weeks Ago <span class="fa fa-arrow-alt-circle-up"></span></th>
<th scope="col">Four Weeks Ago <span class="fa fa-arrow-alt-circle-up"></span></th>
<th scope="col">Current Month <span class="fa fa-arrow-alt-circle-down"></span></th>
<th scope="col">Year To Date <span class="fa fa-arrow-alt-circle-up"></span></th>
