@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
    @if (User.IsInRole("Admin")) {
        <li class="nav-item form-inline">
            <a class="nav-link text-light" href="#" title="@User.Identity.Name"><span class="fa fa-user-tie mr-1"></span>@User.Identity.Name</a>
        </li>
    }
    else {
        <li class="nav-item form-inline">
            <a class="nav-link text-light" href="#" title="@User.Identity.Name"><span class="fa fa-user-alt mr-1"></span>@User.Identity.Name</a>
        </li>
    }
    <li class="nav-item">
        <form class="form-inline">
            <a class="nav-link btn btn-link text-light" asp-area="" asp-controller="Account" asp-action="Logout"><span class="fa fa-sign-out-alt mr-1"></span>Logout</a>
        </form>
    </li>
</ul>
