
<div class="modal fade" id="SalesEntryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SalesEntryModal">Enter Your Sale</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="text-center border border-dark p-5" method="post">
                    <div asp-validation-summary=" All" class="text-danger"></div>
                    <input type="text" id="defaultLoginFormEmail" name="SaleAmount" value="" class="form-control mb-4" placeholder="Amount">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" asp-controller="Home" asp-action="SalesEntry" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
