@model List<AppUser>
@{
    ViewData["Title"] = "Sales Board";
}

<div class="text-center">
    <table class="table table-striped thead-dark" style="width:100%">
        <tr class="thead-dark">
            <partial name="_BoardHeaderPartial" />
        </tr>
        @foreach (AppUser u in Model) {
            <tr>
                <partial name="_UserCalcsPartial" model=u />
            </tr>
        }
    </table>
</div>
