@model List<AppUser>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <table class="table table-striped" style="width:100%">
            <tr class="thead-light">
                <th>Name</th>
                <th>Today</th>
                <th>Last Week</th>
                <th>Last Two Weeks</th>
                <th>Last Three Weeks</th>
                <th>Last Four Weeks</th>
                <th>Month To Date</th>
                <th>Year To Date</th>
            </tr>
            @foreach (AppUser u in Model)
            {
                <tr>
                    <td class="font-weight-bold">@u.Name</td>
                    <td>$@u.CalcTodaySalesAmt().ToString("#,##0.###")</td>
                    <td>$@u.CalcLastWeekUserSales().ToString("#,##0.###")</td>
                    <td>$@u.CalcLastTwoWeekUserSales()</td>
                    <td>$@u.CalcLastThreeWeekUserSales()</td>
                    <td>$@u.CalcLastFourWeekUserSales()</td>
                    <td>$@u.CalcMonthToDateUserSales()</td>
                    <td>$@u.CalcYearToDateUserSales()</td>
                </tr>
            }
        </table>
    </div>
