@model List<AppUser>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach(AppUser u in Model)
    {
        <div>
            Name: @u.Name <br />
            Total Sales To Date: @u.CalcUserSales()
        </div>
    }
</div>
