@{
    ViewData["Title"] = "SalesBoard";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <form method="post">
        <div class="form-group">
            <div class="form-group">
                <label for="name">Name</label>
                <input name="name" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input name="email" />
            </div>
            <div class="form-group">
                <label>Sale</label>
                <input name="salePrice" />
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>
