@{
    ViewData["Title"] = "SalesBoard";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <label for="name">Name</label>
    <input name="name" />
    <label>Sale</label>
    <input name="salePrice"/>
    <button type="submit">Submit</button>
</form>
