@model SaleEntryViewModel
@{
    ViewData["Title"] = "Sales Entry";
}

<form class="text-center border border-dark p-5" method="post">
    <div asp-validation-summary=" All" class="text-danger"></div>
    <p class="h4 mb-4">Enter Your Sale</p>

    <input type="text" id="defaultLoginFormEmail" asp-for="SaleAmount" value="" class="form-control mb-4" placeholder="Amount">
    <button class="btn btn-danger btn-block my-4" type="submit">Sign in</button>
</form>
